
h3 {
    text-align: center;
   background-color: grey;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    display: flex;
}

.article-form {
 
   width:70%;
   height:100%;
   flex: 1;
  margin-left: 50px;
}


.container{
   display: flex;
  flex: 2; 
    flex-direction: column;
   padding-left: 150px;
   width: 30%;
   }

   button{
    width:250px;
    height:50px;
    padding: 20px;
    margin: 20px;
   }

label {
    display: block;
    margin-top: 10px;
}
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 200px;
}

input[type="file"] {
    display: block;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
button.uppercase{
    background-color:white;
   margin-left: 5px;
   padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}